#groups {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
}
#groups > nav {
    display:flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 10px 14px;
    background-color: #343a40;
    justify-content:space-between;
}
#groups > nav > div {
    width: 275px;
}
#groups > nav > div:first-child > span {
    font-size: 20px;
    color: white;
    margin-right: 20px;
}
#groups > nav > div:first-child > code {
    display: inline-block;
    color: gold;
    vertical-align: top;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#groups > nav > input {
    background-color: rgba(0,0,0,0.3);
    caret-color: white;
    color: white;
    outline: none;
    padding:5px;
    width: 275px;
}
#groups > div:last-child {
    display: flex;
    flex-flow: row wrap;
    justify-content: normal;
    margin: 57px 20px 20px 20px;
}
#groups > div > button {
    background-color: white;
    outline: none;
    padding: 3px 8px;
    margin: 7px;
    font-weight: bold;
    font-size: 17px;
}
#hmbrgr {
    cursor:pointer;
}
#bar1, #bar2, #bar3 {
    width: 35px;
    height: 5px;
    background-color: silver;
    transition: 0.4s;
}
#bar1 {
    margin-bottom: 6px;
}
#bar2 {
    margin: 6px 0;
}
#bar3 {
    margin-top: 6px;
}
.clicked #bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.clicked #bar2 {
    opacity: 0;
}
.clicked #bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
#groups .open {
    color: white;
    text-shadow: 0 0 10px white;
}
#groups > nav > div:nth-child(3) span {
    float: right;
    cursor: pointer;
}
#groups > nav > div:nth-child(3) span:not([class=open]) {
    color: rgba(255,255,255,0.6);
}
#groups > nav > div:nth-child(3) span:hover:not([class=open]) {
    color:white;
    text-shadow:0 0 10px white;
}
#sm_group, #sm_account {
    position:fixed;
    background-color:#343a40;
    list-style-type:none;
    margin:0;
    padding:10px 0;
    color:silver;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    border-radius:0 0 5px 5px;
    box-shadow:0 5px 5px black;
    outline:none;
    visibility:hidden;
    transition:opacity 0.17s;
}
#sm_group > li, #sm_account > li {
    padding:6px 10px;
    overflow:hidden;
    text-overflow:ellipsis;
}
#sm_group > li:hover, #sm_account > li:hover {
    background-color:white;
    cursor:pointer;
    color:black;
}
#sm_group > li:active, #sm_account > li:active {
    text-shadow:0 0 10px rgba(0,0,255,0.5);
}
@media screen and (max-width: 900px) {
    #groups > nav > div:first-child {
        display:none;
    }
    #groups > nav > div:nth-child(3) > div:first-child {
        display: none;
    }
    #groups > nav > div:nth-child(3) {
        width: auto;
        margin-left: 20px;
    }
    #groups > nav > input {
        max-width: 275px;
        width: 100%;
    }
}
@media screen and (min-width: 900px){
    #hmbrgr {
        display: none;
    }
}