#ingroup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Patrick Hand', cursive;
    background-image: url(/images/email-pattern.png);
    /*font-family: 'Allura', cursive;*/
}
#ingroup > div:first-child {
    position:absolute;
    left:300px;
    right:0;
    top:0;
    bottom:0;
    transition:left .4s;
}
#ingroup > div:nth-child(2) {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:80%;
    max-width:300px;
    transition:transform .4s;
    border-right:1px solid silver;
    background-image:url(/images/email-pattern.png);
}
#ingroup > div > nav {
    height:40px;
    border-top:1px solid silver;
    border-bottom:1px solid silver;
    display:flex;
    align-items:center;
}
#ingroup > div > nav > img {
    display:none;
    height:100%;
    cursor:pointer;
    opacity:0;
}
#ingroup > div:first-child > nav > img {
    padding:4px 4px 4px 0;
}
#ingroup > div:nth-child(2) > nav > img {
    padding:4px 0 4px 4px;
    margin-left:-20px;
}
#ingroup > div:first-child > nav > img:hover {
    padding:0 4px 0 0;
}
#ingroup > div:nth-child(2) > nav > img:hover {
    padding:0 0 0 4px;
}
#ingroup > div > nav > img:hover {
    padding:0 0 0 4px;
}
#ingroup > div:first-child > nav > img:active {
    padding:0 0 0 4px;
}
#ingroup > div:nth-child(2) > nav > img:active {
    padding:0 4px 0 0;
}
#ingroup > div:nth-child(2) > nav {
    justify-content:space-between;
}
#ingroup > div:nth-child(2) > nav > input {
    background-color:#e3e3e3;
    outline:none;
    border:1px solid silver;
    border-radius:15px;
    padding:3px 8px;
    width:70%;
    margin:auto;
    /*try to change font*/
}