#ingroup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Patrick Hand', cursive;
    background-image: url(/images/email-pattern.png);
    /*font-family: 'Allura', cursive;*/
}
#ingroup > div:first-child {
    position:absolute;
    left:300px;
    right:0;
    top:0;
    bottom:0;
    transition:left .4s;
}
#ingroup > div:nth-child(2) {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:80%;
    max-width:300px;
    transition:transform .4s;
    border-right:1px solid silver;
    background-image:url(/images/email-pattern.png);
}
#ingroup > div > nav {
    height:40px;
    border-top:1px solid silver;
    border-bottom:1px solid silver;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#666666;
}
#ingroup > div > nav > img {
    display:none;
    height:100%;
    cursor:pointer;
    opacity:0;
}
#ingroup > div:first-child > nav > img {
    padding:4px 4px 4px 0;
}
#ingroup > div:nth-child(2) > nav > img {
    padding:4px 0 4px 4px;
    margin-left:-20px;
}
#ingroup > div:first-child > nav > img:hover {
    padding:0 4px 0 0;
}
#ingroup > div:nth-child(2) > nav > img:hover {
    padding:0 0 0 4px;
}
#ingroup > div > nav > img:hover {
    padding:0 0 0 4px;
}
#ingroup > div:first-child > nav > img:active {
    padding:0 0 0 4px;
}
#ingroup > div:nth-child(2) > nav > img:active {
    padding:0 4px 0 0;
}
#ingroup > div:nth-child(2) > nav {
    justify-content:space-between;
}
#ingroup > div:nth-child(2) > nav > input {
    background-color:#e6e6e6;
    outline:none;
    border:1px solid silver;
    border-radius:15px;
    padding:3px 8px;
    width:70%;
    margin:auto;
    text-align:center;
    /*try to change font*/
}
#ingroup > div:first-child > nav > div:nth-child(2) {
    width:40%;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-left:15px;
    font-size:23px;
}
#ingroup > div:first-child > nav > div:nth-child(3) {
    margin-right:13px;
    cursor:pointer;
    padding:0 7px 3px 7px;
    outline:thin solid #666666;
    font-size:17px;
}
#ingroup > div:first-child > nav > div:nth-child(3):hover {
    background-color:#666666;
    color:#f4f4f4;
    box-shadow:0 0 5px #666666;
    outline:thin solid #f4f4f4;
}
#ingroup > div:first-child > nav > div:nth-child(3):active {
    transform:scale(0.967);
}
#ingroup > div:first-child > input {
    position:absolute;
    left:0;
    width:100%;
    bottom:5px;
    height:40px;
    outline:none;
    border:none;
    border-top:thin solid silver;
    background-color:#f4f4f4;
    padding:0 15px;
}
#ingroup > div:first-child > div:nth-child(2) {
    height:100%;
    padding:15px;
    overflow:auto;
    word-break:break-word;
}