
#ingroup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Patrick Hand', cursive;
    background-color: #E8E8E8;
    /*font-family: 'Allura', cursive;*/
}
