*{
    box-sizing:border-box;
}
body {
    margin: 0;
    background-color: #000338;
    background-image: url("/images/concrete-wall-2.png");
}

.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}