#reg {
    background-color: #000338;
    background-image: url("/images/concrete-wall-2.png");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    font-family: 'Concert One';
}
#reg_panel {
    background-color: rgba(234,234,234,0.65);
    top: 50%;
    width: 100%;
    height: 350px;
    max-width: 550px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    margin: auto;
}
#reg_panel > div[class=header] {
    font-size: 60px;
    text-align: center;
    padding-top: 12px;
    text-shadow: 0 0 3px white;
}
#reg_panel_menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:75%;
}
#reg_panel_menu > div {
    text-align:center;
    font-size:30px;
    width: 100%;
    max-width: 200px;
    padding: 10px;
}
#reg_panel_menu > div:hover{
    color:white;
    background-color: #000338;
    background-image: url("/images/concrete-wall-2.png");
    border-radius:30px;
    border:2px solid white;
    cursor: pointer;
}
#reg_panel_menu > div:hover:active{
    background-color: white;
    color: black;
}
#reg_registration {
    margin: 0 20px;
    font-size: 19px;
    display: flex;
    flex-flow: column;
    height:75%;
    justify-content: space-between;
}
#reg_registration input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    font-size:17px;
    width: 67%;
}
#reg_registration input:focus{
    outline: none;
}
.btn_back > img {
    width: 35px;
    vertical-align: middle;
    margin-right: 10px;
}
.btn_back > img:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
}
.btn_back > img:hover:active{
    transform: scale(0.8,0.8);
}
.btn_back > span {
    vertical-align: middle;
}
.title{
    float: left;
    width: 100px;
}
#clear_reg{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
#clear_reg > img{
    width:40px;
    cursor: pointer;
}
#clear_reg > img:hover{
    transform: scale(1.2, 1.2);
}
#clear_reg > img:hover:active{
    transform: scale(0.8, 0.8);
}