@page
@model Chat.Web.Pages.IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Chat</title>
    <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
    <link asp-href-include="~/css/*" rel="stylesheet" />
    <script asp-src-include="~/js/*"></script>
</head>
<body>
    <div id="reg" class="disable-select">
        <div id="reg_panel">
            <div class="header">Groups</div>
            <div id="reg_panel_menu">
                <div>
                    <img src="~/images/register.svg" style="width:80%" draggable="false" />
                    <div>Register</div>
                </div>
                <div>
                    <img src="~/images/signin.svg" style="width:80%" draggable="false" />
                    <div>Sign In</div>
                </div>
            </div>
            <div id="reg_registration" style="display:none;">
                <div class="btn_back">
                    <img src="~/images/back.png" title="go back" />
                    <span>Registration</span>
                </div>
                <div>
                    <span class="title">Name:</span>
                    <input type="text" spellcheck="false" />
                </div>
                <div>
                    <span class="title">Email:</span>
                    <input type="email" spellcheck="false"/>
                </div>
                <div>
                    <span class="title">Password:</span>
                    <input type="password"  maxlength="32"/>
                </div>
                <div id="clear_reg">
                    <img src="~/images/clear.svg" draggable="false" title="clear" />
                    <img src="~/images/unlock.svg" draggable="false" title="enter code" />
                    <img src="~/images/register.svg" draggable="false" title="register" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>