@page
@model Chat.Web.Pages.IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Chat</title>
    <link asp-href-include="~/css/*" rel="stylesheet" />
    <script asp-src-include="~/js/*"></script>
</head>
<body>
    <div id="reg">
        <div id="reg_panel">

        </div>
    </div>
</body>
</html>