@page
@model Chat.Web.Pages.IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Chat</title>
</head>
<body>
    <h1 style="text-align:center">Under Construction</h1>
</body>
</html>